.home {
  .main {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(-45deg, #62a4e6, rgb(24, 39, 53));
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    .options {
      width: 70%;
      height: 40%;
      padding: 3rem;
      border: 2px solid #fff;
      border-radius: 1rem;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      .divider {
        border-left: 5px solid rgb(10, 55, 85);
        height: 100%;
        margin: 0 3rem 0 3rem;
      }
      .signIn,
      .logIn {
        font-size: 5rem;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
